@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200&display=swap');




#circle-container{
    
  width: 300px;
  height: 300px;
  padding: 100px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  border-radius: 50%;
  margin: 0 auto;
}

#circle-bg{

  background: url("center-image.jpg")  ;
    
    border-radius: 50%;
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;

}

.header {
     margin-top: 50px;
    margin-bottom: 100px;
  padding: 5px;
  text-align: left;
  background: #11F246;
  color: white;
  font-size: 30px;
}
